* {
    font: bold 22px LetrasDigitasles, Verdana, sans-serif;
    color: #1c7430;
}

@font-face {
    font-family: "LetrasDigitasles";
    src: url("ds-digital-bold.ttf");
}

header {
    display: grid;
    grid-template-columns: 1fr;
}

header table th {
    font-size: 65px;
}

#displayPremio th{
    font-size: 25px;
}

.slots {
    width: 100%;
}

.slots img {
    width: 100%;
}

.botonera {
    table-layout: fixed;
    width: 100%;
}

.botonera button {
    width: 100%;
    height: 50px;
}


.todaLaTabla {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.todaLaTabla td {
    text-align: center;
}

#imagenesTabla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#imagenesTabla img {
    margin: auto;
    width: 95%;
}

#tirada {
    width: 95%;
    color: darkred;
    font-size: 2em;

}

#monedas img {
    width: 10%;
}

#imprimeMonedas {
    float: right;
    width: 40%;
}

#imprimeMonedas img {
    width: 20px;
}

#mensajePremio {
    float: left;
    width: 40%;
    height: 100%
}

#mensajePremio img {
    width: 20px;
}

