
<h1 class="animated fadeIn fast">Lo que hay que saber de Minecraft App</h1>
<hr>
<p class="animated fadeIn">Esta pequeña aplicación está hecha por papá con ilusión para que Enzo tenga una página  en la que pueda ver la información más importante de los  personajes de Minecraft.
La información que se muestra está sacada de páginas espacializadas, pero como esta aplicación es para uso personal de Enzo, simpre que él quiera podemos añadir cositas que falten.
    <br><br><h3>Te quiero muchote príncipe.</h3><br><br>Papá.</p>
