
<h1> {{ personaje.nombre }}. <small> Personaje de Minecraft </small></h1>
<hr>
<div class="row">
    


<div class="col-md-4" >
    <img src="{{personaje.img}}" class="img-fluid" alt="{{personaje.nombre}}">
    <br><br>
    <a [routerLink]="['/personajes']" class="btn btn-outline-danger btn-block">Volver a personajes</a>
</div>

<div class="col-md-8">
    <h3>{{personaje.nombre}}</h3>
    <hr>
    <p>
        {{personaje.bio}}
    </p>
    <div>
        <img src="" alt=""> <!-- Aquí hay que poner una imagen de MARVEL o de DC, a ver qué inventas-->
    </div>

</div>
</div>
